/* Estilize o corpo para prevenir que o footer cubra o conteúdo */
body {
    padding-bottom: 60px; /* Ajuste o valor conforme necessário para a altura do seu footer */
}

/* Estilize o footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #007bff; /* Cor de fundo azul */
    color: white; /* Cor do texto branco */
    text-align: center;
    padding: 10px 0;
}
